<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container_body">
        <div class="left-panel">
            <div class="logo-circle"></div>
            <h2 class="bienvenido">Bienvenid@ a Subastas</h2>
            <p class="opcion">PRESTIGIO<br>MÉXICANO</p>
            <div class="divider"></div>
        </div>
        <div class="right-panel">
            <div class="menu-box">
                {% if nombre %}
                <a class="menu-btn disabled">REGISTRO DE USUARIO</a>
                {% else %}
                <a href="{{ url_for('reg') }}" class="menu-btn">NUEVO USUARIO</a>
                {% endif %}
                {% if nombre %}
                <a href="{{ url_for('logout') }}" class="menu-btn">CERRAR SESIÓN</a>
                {% else %}
                <a href="{{ url_for('login') }}" class="menu-btn">INICIAR SESIÓN</a>
                {% endif %}
                <a href="{{ url_for('regobj') }}" class="menu-btn">NUEVO OBJETO</a>
                <a href="{{ url_for('search') }}" class="menu-btn">BÚSQUEDA</a>
            </div>
        </div>
    </div>
</body>

</html>